.card__img
  margin-bottom: 3rem

  @media (max-width: 48em)
    margin-bottom: 4rem

.card__title
  margin-bottom: 3rem
  font-size: 2.4rem
  font-weight: 700
  text-align: center

  @media (max-width: 48em)
    font-size: 3.6rem

.card__price
  display: block
  margin-bottom: 3rem
  text-align: center
  font-size: 1.8rem

  &--old
    margin-left: 1rem
    text-decoration: line-through
    color: #bfbfbf

  @media (max-width: 48em)
    font-size: 3.2rem

.card__button
  width: 15rem
  margin: 0 auto

  @media (max-width: 48em)
    width: 80%
